
*{
    margin: 0;
    font-family: Arial;
    border:  border-box; 
}
.navbar{
    height: 60px;
    background-color:black ;
    color:white;
    display: flex;
  align-items: center;
}
.nav-logo{
    
    height: 50px;
    width:100px
}


.logo{
    background-image: url("https://www.pngmart.com/files/23/Amazon-Logo-White-PNG-Image.png");
    height: 30px;
    width: 100px;
    background-size: cover;
}
 .border{
    border: 2px solid transparent ;
 }

 .border:hover{
    border: 2px solid white;
 }


                    /* SECOND BOX */
  .add-f{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
  }
.add-s{
    color:white ;
   font-size: 1rem;
   margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/* BOX3 */
    .nav-search{
        display: flex;
        background-color: pink;
      justify-content: space-evenly;
        height:40px ;
        width: 620px;
        border-radius: 4px;
    }
    .search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px ;
border-bottom-left-radius: 4px;
border: none;
    }
   .Search-input{
    width: 100%;
    font-size: 1rem;
   } 
   .Search-icon{
    width: 45px;
    display: flex;
    justify-content:center ;
    align-items:center ;
    font-size: 1.2rem;
    background-color: rgb(224, 210, 15);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
   }

                     /* BOX 4 */

   .nav-language{
    display: flex;
       
   }
   .border:hover{
border :2px solid;
   }
  
   /* box 5 */
.f{
    color: #FFFFFF;
    /* font: 12px; */
    font-size: .85rem;
}
.s{
    display: flex;
    color: #FFFFFF;
    /* font: 14px;  */
font-size: 1rem;

}


